/* FAQ Section */
.faq-item p {
    font-size: 20px;
}

.faq-toggle {
    color: #6aaf6a;
    font-weight: bold;
    font-size: 16px;
}

.faq-section {
    padding: 40px 20px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
}

.faq-section h2 {
    font-size: 50px;
}

.faq {
    text-align: left;
    margin: 0 auto;
    width: 60%;
}

.faq-item {
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    padding: 10px 0;
    display: flex;
}
